.esqcima {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0%;
    top: 0%;
  }
 
  .esqbaixo {
    background-color: green;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
 
  .dircima {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0%;
    top: 0%;
  }
 
  .dirbaixo {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
